@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --soft-green: #C1ECAC ;
    --soft-green-1: #D0F0C0;
    --off-white: #FFFAFA;
    /* --off-white-transparency: #fffafa7e; */
    --coral-vivid:#FF6347;
    --coral-light:#FF715B;
    --mahogany-black: #410f08;
}

h1, h2, h3, h4 {
    font-family: "Bree Serif", serif;
}

p {
    font-family: "Lato", sans-serif;
}

header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(193, 236, 172, 0.1), rgba(193, 236, 172, 0.6)), url(./images/img-hero-remise-clés.png);  
    /* background-image: linear-gradient(rgba(255, 99, 71, 0.1), rgba(255, 99, 71, 0.6)), url(./images/img-hero-remise-clés.png);   */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overlay: var(--soft-green) 0.2;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
}

nav img {
    height: 85px;
}

.nav-links {
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--coral-light);
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    padding: 12px;
    background-color: var(--off-white);
    border-radius: 24px;
    border: 2px solid var(--coral-light);
}

.nav-links a:hover {
    background-color: var(--coral-light);
    color: var(--off-white);
    border: 2px solid var(--off-white);
}

.nav-links a.btn-contact {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    background-color: #FF6347;
    border-radius: 24px;
    color: var(--off-white);
    /* border: 2px solid var(--off-white); */
}

.nav-links a.btn-contact:hover {
    background-color: var(--mahogany-black);
    border-color: var(--mahogany-black);
    border: 2px solid var(--mahogany-black);
}

/* About Us - Our Agency */

.about-us {
    min-height: 50vh;
    

}

.about-container {
    margin: 0 auto; /* On le centre au milieu de l'écran */
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne verticalement le texte et l'image au centre */
    min-height: 50vh;
}

.about-text {
    width: 50%;
    padding: 20px 40px;
}

.about-text p {
    margin-top: 24px;
    color: var(--mahogany-black);
}

.image-illustration-buildings {
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/illustration-quartier-crayon-corail.png);
    min-height: 480px;
}
.about-us h2 {
    font-size: 2.5rem;
    color: var(--coral-vivid);
}

/* Filters */
.filter-container {
    min-height: 50vh;
}

/* Footer */

footer {
    height: 300px;
    background-color: var(--coral-light);
}